@import "config";

.button {
  padding: (0.5*$gutter) $gutter;

  font-family: $font-title;
  font-size: 1.5em;
  font-weight: bold;
  color: $black;
  text-align: center;
  text-decoration: none;

  background-color: $lightgray;
  //border: none;

  border-radius: 0.3125em;

  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
  transition-property: color, background-color;

  @media (min-width: $bpoint-narrow) {
    margin: 0 $gutter;
  }

  &__container {
    display: flex;
    justify-content: space-between;

    max-width: 500px;

    //margin: gutter (0.5*$gutter);
    //margin: (0.5*$gutter) 0;
    margin: 1.5*$gutter auto;

    @media (max-width: $bpoint-slim) {
      flex-wrap: wrap;
    }
  }

  &:hover {
    background-color: $darkgray;
  }

  &--active {
    background-color: $lightgreen;

    &:hover {
      background-color: $darkgreen;
    }
  }
}
