@import "config";
@import "button";

.lectures {
  width: 100%;
  //max-width: 1200;
  margin: 0 auto;

  // TODO media

  &__row {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: $gutter;
    margin-left: -($gutter / 2);
    margin-right: -($gutter / 2);
  }

  &__col {
    padding-right: $gutter / 2;
    padding-left: $gutter / 2;
    margin-bottom: $gutter;
    width: 100%;

    @media (min-width: $bpoint-narrow) {
        width: 50%;
    }

    @media (min-width: $bpoint-wide) {
        width: 33.33333%;
    }

  }

}

.lecture {
  display: flex;
  height: 100%;
  flex-direction: column;
  //justify-content: space-between;
  background-color: $lightgray;

  &--noThumb {
    justify-content: flex-end;
  }

  &__thumbnail {
    //max-height: 70%;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: $lightgray;
    min-height: 30%;
    padding: 0 ($gutter / 2);
    transition-property: color, background-color;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;

    &:hover {
      background-color: $gray;
    }
  }

  &__catContainer {
    min-height: 30%;
  }

  &__detail {
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
  }

  &__title {
    font-family: $font-title;
    font-size: 1.5em;
    font-weight: bold;
    //width: 80%;
  }

  &__category {
    font-family: $font-title;
    font-size: 1em;
    font-weight: 400;
  }

  &__finished {
    //width: 20%;
  }
}
