@import "config";
@import "button";

.lectures {
  width: 100%;
  max-width: 1200;
  margin: 0 auto;

  &__row {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;

    margin-right: -($gutter / 2);
    margin-bottom: $gutter;
    margin-left: -($gutter / 2);
  }

  &__col {
    width: 100%;
    padding-right: $gutter / 2;
    padding-left: $gutter / 2;
    margin-bottom: $gutter;

    @media (min-width: $bpoint-narrow) {
      width: 50%;
    }

    @media (min-width: $bpoint-wide) {
      width: 33.33333%;
    }
  }
}

.lecture {
  display: flex;
  height: 100%;
  flex-direction: column;
  background-color: $lightgray;

  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
  transition-property: color, background-color;

  &--noThumb {
    justify-content: flex-end;

    &:hover {
      background-color: $gray;
    }
  }

  &:hover {
    background-color: $gray;
  }

  &__info {
    display: inline-flex;
    padding: 0 ($gutter / 2);
    flex-direction: column;
    justify-content: space-around;

  }

  &__detail {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-family: $font-title;
    font-size: 2em;
    font-weight: bold;
  }

  &__category {
    font-family: $font-title;
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__finished {
    font-size: 3em;
    color: $lightgreen;
  }
}
